@{
    ViewData["Title"] = "Dashboard Customer";
}

@{
    Layout = "_LayoutDashboardCustomer";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row second-chart-list third-news-update">



            <div class="col-xl-12 xl-100 chart_data_left box-col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row m-0 chart-main">
                            <div class="col-xl-12 col-md-12 col-sm-12 p-0 box-col-12">
                                <div style="padding:30px 20px 30px 20px;">
                                    <center>
                                        <div class="badge f-12">
                                            <span id="txt" style="font-size:55px;color:black"></span>
                                        </div>

                                        <h4 class="f-w-600">

                                            <span id="greeting" style="font-weight:lighter">Good Morning</span>, <span style="font-weight:bolder"> @HttpContextAccessor.HttpContext.Session.GetString("Name")</span>
                                        </h4>
                                        <br />
                                        <button class="btn btn-outline-primary btn-lg" type="button" title="Submit your ticket"
                                                data-bs-toggle="modal" data-bs-target="#ModalInputTiket">
                                            <i class="fa fa-plus" aria-hidden="true"></i>  Add Ticket
                                        </button>
                                    </center>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="padding-bottom:10px">
                        <h3>Daftar Keluhanmu</h3>
                        <p>
                            Dibawah ini merupakan daftar tiket keluhanmu, jangan khawatir tiketmu akan segera kami proses.
                        </p>
                        <input type="hidden" id="hdnSessionId" data-value="@HttpContextAccessor.HttpContext.Session.GetString("Id")" />
                        <input type="hidden" id="hdnSessionName" data-value="@HttpContextAccessor.HttpContext.Session.GetString("Name")" />
                        <input type="hidden" id="hdnSessionEmail" data-value="@HttpContextAccessor.HttpContext.Session.GetString("Email")" />
                        <input type="hidden" id="hdnSessionRole" data-value="@HttpContextAccessor.HttpContext.Session.GetString("Role")" />

                    </div>
                    <div class="card-block row" style="padding:25px 10px 40px 10px">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="table-responsive" >
                                <table class="hover" id="ticketDataTable">
                                    <thead class="bg-primary" style="text-align:center">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Ticket Number</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Issue</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ticketTableCustomer" style="text-align:center">
                                        <tr>
                                            <td colspan="4"> Belum ada tiket </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<!--/////////////////////////////////// MODAL INPUT TIKET /////////////////////////////////////////////////////////////////////-->
<div class="modal fade" id="ModalInputTiket" tabindex="-1" role="dialog" aria-labelledby="InputTiket" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input Tiket</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="formInsertTicket" role="form" method="POST" action="" onsubmit="return false;">
                    <div class="form-group">

                        <div class="container">
                            <div class="row">

                                <div class="col-12" style="padding-bottom:15px">
                                    <label class="control-label">Kategori</label>
                                    <div>

                                        <select name="Categories" class="form-control " id="inputCategories" required>
                                        </select>

                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="container">
                            <div class="row">


                                <div class="col-12">
                                    <label class="control-label">Apa keluhanmu?</label>
                                    <div>
                                        <textarea name="Issue" class="form-control" id="inputIssue" rows="3" required></textarea>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </form>


            </div>

            <center>
                <div style="padding-bottom:25pt;margin-top:5%">
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary" type="submit" onclick="addTicket()">Submit Ticket</button>
                        </div>
                    </div>
                </div>

            </center>

            @*<div class="modal-footer">
                    <center>
                        <div>
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Save changes</button>
                        </div>

                    </center>

                </div>*@

        </div>
    </div>
</div>

<!--/////////////////////////////////// MODAL CEK TIKET HISTORIES /////////////////////////////////////////////////////////////////////-->
<div class="modal fade" id="ModalTicketHistories" tabindex="-1" role="dialog" aria-labelledby="RiwayatTiket" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title">Detail Tiketmu</h4>

                </center>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" >
                <div class="container">
                    <div class="row">
                        <div class="col-10" style="height: 500px; overflow-y: auto; ">
                            <div class="container">

                                <div class="row">
                                    <label>
                                        Nomor Tiket

                                    </label>
                                    <div class="col-12" id="customerTikcetId">

                                    </div>
                                </div>

                                <div class="row" style=" margin-top: 1%;">

                                    <label>
                                        Keluhan kamu

                                    </label>
                                    <div class="col-12" id="customerIssue" style=" margin-top: 1%;">

                                    </div>
                                </div>

                                <div class="row" id="soulutionSection" style=" margin-top: 1%;">



                                </div>


                                <div class="row" id="feedbackSection" style=" margin-top: 1%;">

                                   


                                </div>


                                <div class="row" style=" margin-top: 1%;">

                                    <label>
                                        Status Akhir

                                    </label>
                                    <div class="col-10" id="customerStatus">

                                    </div>
                                    <div class="col-2">
                                        <div id="customerShowStatusDetail">
                                            <span style="font-size:15px;color:forestgreen;font-weight:bolder">Show Detail <i data-feather="arrow-down" style="vertical-align: middle;"></i></span>

                                        </div>
                                        <div id="customerHideStatusDetail">
                                            <span style="font-size:15px;color:forestgreen;font-weight:bolder">Hide Detail <i data-feather="arrow-up" style="vertical-align: middle;"></i></span>

                                        </div>
                                    </div>

                                </div>




                            </div>



                            <div class="table-responsive" id="TableTrackHistories" style="padding-top:5%">
                                <table class="table table-bordernone">
                                    <thead style="text-align:center;font-size:20px">
                                        <tr>
                                            @*<th scope="col">#</th>*@
                                            <th scope="col">Tanggal</th>
                                            <th scope="col"></th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ticketHistoriesTableCustomer" style="text-align:center">

                                        <!--<tr>-->
                                        <!--<th class="border-bottom-0" scope="row">1</th>-->
                                                <!--<td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                            </tr>-->

                                    </tbody>
                                </table>
                            </div>



                        </div>

                        <div class="col-2">
                            <center>
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" style="margin-bottom:30px">
                                    Close
                                </button>
    
                                <div id="btnGroupModal">
                                    @*<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>*@

                                </div>

                            </center>
                        </div>


                    </div>
                </div>
               

            </div>

            


            <div class="modal-footer">
                        <div>
                                <span style="color:red;font-size:12px;align-items:center!important">
                                    *Jika dalam 2 hari tiket anda sudah terjawab namun kami tidak menerima tanggapan balik. Tiket tersebut akan kami tutup.
                                </span>
                            @*<button class="btn btn-primary" type="button">Save changes</button>*@
                        </div>


            </div>

        </div>
    </div>
</div>


<script>


</script>